<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body class="home-body">
    <header class="main-header">
        <nav class="main-header-nav">
            <ul class="main-header__item-list">
                <li class="main-header_item"><a class="active" href="/">Home</a></li>
                <li class="main-header_item"><a href="/users">Users</a></li>
                <li class="main-header_item"><a href="https://www.youtube.com/watch?v=H47ow4_Cmk0">Important Info</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>